<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/LoginClient.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}/LoginClient.js"></script>

<style>
body
{
    background-color:lightblue;
}
</style>

</head>

<center>
<div id="login-page" class="box">
  <div id="login-message" class="message"></div>
  <center>
    <form>
      Username: <input id="login-username" type="text" name="username"><br>
      Password: <input id="login-password" type="password" name="pwd"><br>
      <input id="login-button" type="submit" value="Login">
      <input id="add-user-button" type="submit" value="Add User">
      
      <input id="reset-button" type="submit" value="Reset">
      
    </form>
  </center>
</div>

<div id="welcome-page" class="block">
  <div id="welcome-message" class="message"></div>
  <center>
    <form>
      <input type="submit" id="logout-button" value="Logout">
    </form>
  </center>
</div>
</center>

<script type="text/javascript">
<!--
/* Put the page into a blank state until everything finishes loading
   This is not the ideal thing to do, but better than nothing. */
$('#login-page').hide()
$('#welcome-page').hide()
$('#login-username').val("")
$('#login-password').val("")
$('#login-message').html("Please enter your credentials below")


$(document).ready(function() {
   show_login_page();
 });


function show_login_page(message) {
  if(! message) message = "Please enter your credentials below";
  $('#welcome-page').hide()
  $('#login-username').val("")
  $('#login-password').val("")
  $('#login-message').html(message)
  $('#login-page').show()
}

function show_welcome_page(user, count) {
   $('#login-page').hide();
   $('#welcome-page').show();
   $('#welcome-message').html("Welcome "+user+"!" + "<br>You have logged in "+count+" times.");
}

function handling_login_response(data, user) {
  if( data.errCode > 0 ) {
     num = data.count;
     show_welcome_page(user, num);
  } else {
     if( debug_flag ) {
        if( data.errCode != ERR_BAD_CREDENTIALS ) {
           alert( 'Illegal error code encounted for this state');
        }
     }
     show_login_page( return_errcode_msg(data.errCode) );  
  }
}

function handling_add_user_response(data, user) {
  if( data.errCode > 0 ) {
     num = data.count;
     show_welcome_page(user, num);
  } else {
     if( debug_flag ) {
        if( data.errCode != ERR_BAD_USERNAME && data.errCode != ERR_USER_EXISTS ) {
           alert( 'Illegal error code encounted for this state');
        }
     }
     show_login_page( return_errcode_msg(data.errCode) );  
  }
}

function handling_reset_response(data) {
    if ( data.errCode > 0 ) {
        show_login_page( 'Database Reset has been successful!');
    } else {
        show_login_page( 'Database Reset has not been successful! Reason: ' + data.errCode);
    }
}

$('#login-button').click(function() {
   username = $('#login-username').val()
   password = $('#login-password').val()
   json_request("/users/login", { user: username, password: password }, function(data) { return handling_login_response(data, username); }, function(err) { alert('error occurred on request'); });

   return false;
});

$('#add-user-button').click(function() {
   username = $('#login-username').val()
   password = $('#login-password').val()
   json_request("/users/add", { user: username, password: password }, function(data) { return handling_add_user_response(data, username); }, function(err) {alert('error occurred on request'); });

   return false;
});


$('#reset-button').click(function() {
   json_request("/TESTAPI/resetFixture", {  }, function(data) { return handling_reset_response(data); }, function(err) {alert('error occurred on request'); });

   return false;
});


$('#logout-button').click(function() {
  show_login_page();

  return false;
});

</script>

<body>
</body>
</html>
