.box {
    width: 800px;
    height: 600px;
    border: thin red double;
    background-color: rgb(243,243,243);
}

.message {
    margin: 10px 20px 10px 20px;
    border: thin blue solid;
}

body {
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 300%
}

